<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book detail</title>
</head>
<body>
<form th:action="@{/book-form}" method="post">
    <div>
        <label> Book Name <input type="text" name="name"/> </label>
    </div>
    <div>
        <label> Publisher  <input type="text" name="publisher"/> </label>
    </div>
    <div>
        <label> Author  <input type="text" name="author"/> </label>
    </div>
    <div>
        <label> Genre  <input type="text" name="genre"/> </label>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>